<div class="row">
    <div class="twelve column">
        <!--<h2>You are Invited!</h2>-->
        <p>Kim and Joey are expecting a baby soon. They have invited you to take part in a guessing game.</p>
        <p>Before you can start guessing we need a way to contact you so that we can share the results and let you know if you are the winner.</p>
    </div>
</div>
<div class="row">
    <div class="six column">
        <form ng-submit="confirm()">
            <p>
                <label>Name:</label>
                <input type="text" ng-model="profile.Name" value="" placeholder="First and Last Name" />
            </p>
            <p>
                <label>Email Address:</label>
                <input type="text" ng-model="profile.EmailAddress" value="" placeholder="example@example.com" />
            </p>
            <button class="btn" type="submit" value="Confirm Email Address">Send Confirmation Code</button>
        </form>
    </div>
</div>

