body {
  font-size: 62.5%;
}
h1 {
  font-size: 2.4em;
}
/* =24px */
p {
  font-size: 1.4em;
}
/* =14px */
li {
  font-size: 1.4em;
}
/* =14px? */
.panel {
  border: 1px solid #ddd;
  padding: 6px 12px;
}
.wrapper {
  width: 1140px;
  margin: 0 auto;
}
.one {
  width: 8.333333333333332%;
  /*margin: unit(@gutter/2, px);*/

  float: left;
}
.two {
  width: 16.666666666666664%;
  /*margin: unit(@gutter/2, px);*/

  float: left;
}
.three {
  width: 25%;
  /*margin: unit(@gutter/2, px);*/

  float: left;
}
.four {
  width: 33.33333333333333%;
  /*margin: unit(@gutter/2, px);*/

  float: left;
}
.five {
  width: 41.666666666666664%;
  /*margin: unit(@gutter/2, px);*/

  float: left;
}
.six {
  width: 50%;
  /*margin: unit(@gutter/2, px);*/

  float: left;
}
.seven {
  width: 58.33333333333333%;
  /*margin: unit(@gutter/2, px);*/

  float: left;
}
.eight {
  width: 66.66666666666666%;
  /*margin: unit(@gutter/2, px);*/

  float: left;
}
.nine {
  width: 75%;
  /*margin: unit(@gutter/2, px);*/

  float: left;
}
.ten {
  width: 83.33333333333333%;
  /*margin: unit(@gutter/2, px);*/

  float: left;
}
.eleven {
  width: 91.66666666666666%;
  /*margin: unit(@gutter/2, px);*/

  float: left;
}
.twelve {
  width: 100%;
  /*margin: percentage(@gutter/2) 0;*/

  float: left;
}
.row {
  clear: both;
}
.row .column:first-child {
  margin-left: 0;
}
.row .column:last-child {
  margin-right: 0;
}
/*@width: 100%;
@maxWidth: 1140;
@gutterWidth: 15;
@gutter: @gutterWidth / @maxWidth;*/
/*.one {
    width: @width/12;
    margin: @gutter; 
}
.two {
    width: @width/6;
    margin: @gutter; 
}
.three {
    width: @width/4;
    margin: @gutter; 
}
.four {
    width: @width/3;
    margin: @gutter; 
}
.six {
    width: @width/2;
    margin: @gutter; 
}*/
/*percentage(@number);*/
