@import "less/settings.less";
@import "less/theme.less";
@import "less/grid.less";





.panel {
    border: 1px solid #ddd;
    /*padding: unit(@gutter/2, px) unit(@gutter, px);*/
    padding: unit(@gutterWidthInPixels/2, px) unit(@gutterWidthInPixels, px);
    /*margin: 10px;*/
}

@columnCount: 12;
//@maxWidth: 1140;
@maxWidth: 960;
@gutterWidthInPixels: 20;
@singleColumnPercent: 1/@columnCount;

@gutter: 1.81818%; //percentage(@gutterWidthInPixels / 2 / @maxWidth);


//@singleColumnWidth: @maxWidth / @columnCount;
//@columnWidth: @singleColumnWidth; // - @gutter/2;


.column(@size) {
    //width: @gutter;
    width: percentage(@size * @singleColumnPercent);
    //width: percentage(@size * @singleColumnPercent) - @gutter;
    //width: percentage(@size * @singleColumnPercent) - @gutter;
    //width: unit(@size * @columnWidth - @gutter, px);
    //width: unit(@size * @columnWidth - @gutter, px);
    float: left;
}

.wrapper {
    width: unit(@maxWidth, px);
    margin: 0 auto;
    border: 1px solid #0094ff;
}

.one, .two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven {
    margin-left: @gutter;
    /*padding: 0 15px;*/
}

.one {
    .column(1);
}

.two {
    .column(2);
}

.three {
    .column(3);
}

.four {
    .column(4);
}

.five {
    .column(5);
}

.six {
    .column(6);
}

.seven {
    .column(7);
}

.eight {
    .column(8);
}

.nine {
    .column(9);
}

.ten {
    .column(10);
}

.eleven {
    .column(11);
}

.twelve {
    width: 100%;
    /*margin: percentage(@gutter/2) 0;*/
    float: left;
}

.row {
    clear: both;

    .column {
    }

        .column:first-child {
            margin-left: 0;
        }

        .column:last-child {
            margin-right: 0;
        }
}




//1366



/*@width: 100%;
@maxWidth: 1140;
@gutterWidth: 15;
@gutter: @gutterWidth / @maxWidth;*/

/*.one {
    width: @width/12;
    margin: @gutter; 
}
.two {
    width: @width/6;
    margin: @gutter; 
}
.three {
    width: @width/4;
    margin: @gutter; 
}
.four {
    width: @width/3;
    margin: @gutter; 
}
.six {
    width: @width/2;
    margin: @gutter; 
}*/

/*percentage(@number);*/
