.navbar {
}
/*
Primary Color:
3084D6	4373A1	104E8B	62A7EB	86B9EB

Secondary Color A:
FFCD29	BFA347	A6820D	FFD95F	FFE38A

Secondary Color B:
FF6F29	BF6E47	A63F0D	FF935F	FFB08A
*/

.sect_head {
  padding: 20px 20px 70px 20px;
}

.wrapper.footer {
    background: #4a4d50 !important;
    color: #fff;
}

.wrapper + .wrapper {
  padding: 75px 20px 70px 20px;
}
.wrapper.shaded {
  background-color: #E9E9E9 !important;
  /*background-size: cover;*/
}