

<div class="wrapper">
    <div class="row">
        <div class="twelve column">
            Twelve Columns
        </div>
    </div>

    <div class="row">
        <div class="six column">
            six Columns
        </div>
        <div class="six column">
            six Columns
        </div>
    </div>

    <div class="row">
        <div class="four column">
            four Columns
        </div>
        <div class="four column">
            four Columns
        </div>
        <div class="four column">
            four  Columns
        </div>
    </div>

    <div class="row">
        <div class="three column">
            three Columns
        </div>
        <div class="three column">
            three  Columns
        </div>
        <div class="three column">
            three Columns
        </div>
        <div class="three column">
            three Columns
        </div>
    </div>

    <div class="row">
        <div class="three column">
            three Columns
        </div>
        <div class="six column">
            six Columns
        </div>
        <div class="three column">
            three Columns
        </div>
    </div>
</div>