
1366 
<div class="wrapper">
    <div class="row">
        <div class="twelve">

        </div>
    </div>

    <div class="row">
        <div class="six">

        </div>
        <div class="six">

        </div>
    </div>

    <div class="row">
        <div class="four">

        </div>
        <div class="four">

        </div>
        <div class="four">

        </div>
    </div>

    <div class="row">
        <div class="three">

        </div>
        <div class="three">

        </div>
        <div class="three">

        </div>
        <div class="three">

        </div>
    </div>

    <div class="row">
        <div class="three">

        </div>
        <div class="six">

        </div>
        <div class="three">

        </div>
    </div>
</div>