
<div class="banner">
    <div class="image" ng-class=" { start: !$state.completed, complete: $state.completed }"></div>
    <div class="subtitle">
        <div class="row">
            <div class="twelve column"><h1>Make Prediction: Get Started</h1></div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="row">
        <div class="twelve column">
            <p>You or someone else has already signed up with the email address <u>{{ EmailAddress }}</u>. In order to make your prediction or view your results you must follow the instructions in email we just sent to your email address.<p>
        </div>
    </div>
</div>
