<div class="" id="Weight">
    <h2>Weight</h2>
    <div>
        <label for="weightSlider">What weight range do you think Baby P. will be born in?</label>
        <p>
            <slider name="weight" test="1" label="lbs" min="1" max="13" range="1.5"></slider>
            <!--<div slider name="length" label="lbs" min="1" max="13" range="1.5" filter="ounces"></div>-->
        </p>
        <p>
            <a ui-sref="guess.time" class="btn btn-primary section">Back</a>
            <a ui-sref="guess.length" class="btn btn-success section">Next</a>
        </p>
    </div>
</div>
