<div class="wrapper">
    <div class="row">
        <ul class="four column">
            <li><a ui-sref="guess.gender">Gender</a></li>
            <li><a ui-sref="guess.date">Date</a></li>
            <li><a ui-sref="guess.time">Time</a></li>
            <li><a ui-sref="guess.weight">Weight</a></li>
            <li><a ui-sref="guess.length">Length</a></li>
            <!--<li><a ui-sref="guess.hair">Hair Color</a></li>
            <li><a ui-sref="guess.name">Name</a></li>-->
        </ul>
        <div slider label="lbs" min="3" max="4">f</div>

        <div class="eight column" ui-view="guess">
        </div>
    </div>
</div>