
            <div class="id=" length">
                <h2>Length</h2>
                <div>
                    <label for="lengthSlider">What length range do you think Baby P. will be born in?</label>
                    <p>
                        <div id="lengthSlider"></div>
                    </p>
                    <p>
                        <a ui-sref="guess.weight" class=" btn btn-primary section">Back</a>
                        <a ui-sref="guess.finish" class="btn btn-success section">Finished</a>
                    </p>
                </div>
            </div>