<div class="wrapper shaded">
    <section class="row">
        <h1>Rewards</h1>
    </section>
</div>
<div class="wrapper">
    <section class="row">
        <article class="twelve column">
            <h2>Scoring</h2>
            <p>Each person who takes part in making a prediction will earn a score based on how many categories the guessed correctly. Categories are worth 2 to 5 points for a total of 15 points. The top two people with the most points will be rewarded with a prize!</p>
            <p>
                <table>
                    <tr>
                        <th>Prediction</th>
                        <th>Points</th>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>2 pts</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>5 pts</td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td>3 pts</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>3 pts</td>
                    </tr>
                    <tr>
                        <td>Length</td>
                        <td>2 pts</td>
                    </tr>
                    <tr>
                        <td><strong>Total Points</strong></td>
                        <td>15 pts</td>
                    </tr>
                </table>
            </p>
            <p>The prediction categories are assigned points in a way that benefit those who predict the correct date of delivery but misses the gender over someone who correctly predicts the gender but misses the deliver date.</p>
        </article>
        <hr />
    </section>
</div>
<div class="wrapper">
    <section class="row">
        <article class="twelve column">
            <h2>First Prize</h2>
            <p>The person with the most points gets a $50 visa gift card!</p>
            <p><img src="/img/visa-gift-card-50.jpg" /></p>
        </article>
        <hr />
    </section>
</div>
<div class="wrapper">
    <section class="row">
        <article class="twelve column">

            <h2>Second Prize</h2>
            <p>The person with the second most points gets a $25 visa gift card!</p>
            <p><img src="/img/visa-gift-card-25.jpg" /></p>
        </article>
        <hr />
    </section>
</div>