
<div class="banner">
    <div class="image">
        <img src="/img/kim-and-joey-blessed.jpg" />
    </div>
    <div class="subtitle">
        <div class="row">
            <div class="twelve column"><h1>Get Started</h1></div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="row">
        <div class="twelve column">
            <p>Please enter your email address so we can keep track of your guess and share the final results once BabyP is born to let you know if you are the winner.</p>
        </div>
    </div>
    <div class="row">
        <div class="six column">
            <form ng-submit="confirm()">
                <p>
                    <label>Email Address:</label>
                    <input type="email" ng-model="profile.EmailAddress" value="" tabindex="1" placeholder="example@example.com" />
                </p>
                <button class="btn" type="submit" value="Confirm Email Address">Continue</button>
            </form>
        </div>
    </div>
</div>
