<div class="wrapper">
    <header class="row sect_head">
        <hgroup>
            <h1>Introducing  <strong><span style="color: #3085d6;">Hello World</span></strong></h1>
            <h4>A great way to get your friends and family involved with your Hello World.</h4>
        </hgroup>
    </header>
</div>
<div class="wrapper shaded" id="flexible">
    <section class="row">
        <article class="eight columns ">
            <!--<figure><img src="" alt="Brilliantly Flexible"></figure>-->
            <h2>Call To Action</h2>
            <p><span>This is where you should add some kind of call to action</span></p>
            <div class="buttons">
                <div class="metro rounded medium btn download primary"><a href="#/signup">Get Started!</a></div>
            </div>
        </article>
    </section>
</div>