<div class="wrapper">
    <header class="row sect_head">
        <hgroup>
            <h1>Introducing  <strong><span style="color: #3085d6;">Hello World</span></strong></h1>
            <h4>A great way to get your friends and family involved with your Hello World.</h4>
        </hgroup>
    </header>
</div>
<div class="wrapper shaded" id="flexible">
    <section class="row">
        <article class="eight columns ">
            <p>Lets get started with your <a href="/#/guess/1qFi3x/BabyP/start">invitation</p></p>
            <!--<figure><img src="" alt="Brilliantly Flexible"></figure>-->
            
        </article>
    </section>
</div>