<div class="banner">
    <div class="image">
        <img src="/img/kim-and-joey-blessed.jpg" />
    </div>
    <div class="subtitle">
        <div class="row">
            <div class="twelve column"><h1>BabyP - Due December 16th, 2013</h1></div>
        </div>
    </div>
</div>
<div class="wrapper shaded">
    <section class="row">
        <article class="twelve columns ">
            <h2></h2>
            <p>Kim and Joey are expecting a baby soon. They have invited you to take part in a game to predict when <strong>Baby P</strong> will be born.</p>
            <p>
                <a href="/#/start" class="button">Make Prediction</a>
            </p>
        </article>
    </section>
    <section class="row">
        <article class="twelve columns">
            <h2>How does this work?</h2>
            <p></p>
        </article>
    </section>
    <section class="row">
        <article class="twelve columns">
            <h2>What is PreggoPredict?</h2>
            <p></p>
        </article>
    </section>
</div>