<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="Kleine">-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Kleine - Fund Your Little One</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="humans.txt">

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/xcharts.min.css">

</head>
<body class="ui-kit-feature" id="features">
    <nav class="wrapper navbar">
        <div class="row">
            <h1 class="four column">
                <a href="/">
                    Hello World
                </a>
            </h1>
            <nav class="eight column horizontal">
                <ul id="main-nav">
                    <li><a href="/"><i class="icon-home" title="Welcome"></i><span>Welcome</span></a></li>
                    <li><a href="#"><i class="icon-flag" title="BumpStart"></i><span>BumpStart</span></a></li>
                    <li><a href="#"><i class="icon-help" title="About"></i><span>About</span></a></li>
                </ul>
            </nav>
        </div>

    </nav>
    <div ng-view></div>
    <!--<div class="wrapper" ng-controller="Kleine.Controller">
        <form ng-submit="addNewDueDate()">
            <div class="row">
                <div class="twelve column">

                    <label>Birth Title:</label>
                    <input type="text" name="Title" ng-model="newBirthTitle" />

                    <label>Expected Date:</label>
                    <input type="text" name="Title" ng-model="newExpectedDate" />

                </div>
                <div class="twelve column">
                    <input type="submit" class="button" value="Hello World" />
                </div>
            </div>
            <div class="row">
                <table class="table table-striped table-hover" style="width: 500px;">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dueDate in DueDates">
                            <td>{{dueDate.BirthTitle}}</td>
                            <td>${{dueDate.ExpectedDate}}</td>
                            <td>
                                <button class="btn-small">
                                    <i class="icon-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>-->
    <div class="wrapper footer">
        <footer class="row" id="credits">
            <div class="six columns">
                <p>
                    <span class="nobr">Thoughtfully crafted</span>
                    <span class="nobr">by <a href="http://www.josiahpeters.com/" target="_blank" title="Josiah Peters">Josiah Peters</a></span>
                </p>
            </div>
        </footer>
    </div>

    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js"></script>-->
    <!--<script src="/js/libs/angular/angular.js"></script>
    <script src="/js/Main.js"></script>-->
    <!--<script src="/js/libs/angular/angular.js"></script>
    <script src="/js/libs/angular/angular-resource.js"></script>
    <script src="/js/libs/angular/angular-route.js"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>

    <script src="/js/app/app.js"></script>
    <!--<script src="/js/app/controllers/MyController.js"></script>
    <script src="/js/app/filters.js"></script>
    <script src="/js/app/directives.js"></script>
    <script src="/js/app/services.js"></script>-->
    <!--<script src="/js/Main.js"></script>-->
    <!--<script src="/js/app/model/DueDateModel.js.js"></script>-->
</body>
</html>
