<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="SmtpServer" value="192.168.50.207" />-->
    <add key="SmtpServer" value="blacksmith" />
  </appSettings>
  <location path="api">
    <system.web>
      <httpHandlers>
        <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
      </httpHandlers>
    </system.web>

    <!-- Required for IIS7 -->
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      </handlers>
    </system.webServer>
  </location>
  <!-- Required for MONO -->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="StateServer" />
    <customErrors mode="Off" />
    <httpHandlers>
      <add path="api*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>

  <!-- Required for IIS7 -->
  <system.webServer>
    <!-- ServiceStack: Required -->
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <clear />
        <rule name="Service Stack" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="api/*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="None" />
        </rule>
        <rule name="Allow Content" stopProcessing="true">
          <match url="(css/.*|fonts/.*|img/.*|js/.*|partials/.*|scripts/.*|index.html|apple-touch-icon-precomposed.png|apple-touch-icon.png|favicon.png)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="None" />
        </rule>
        <rule name="Angular Rewrite">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
