<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SmtpServer" value="192.168.50.207" />
    <!--<add key="SmtpServer" value="blacksmith" />-->
    <add key="FromEmailAddress" value="p@preggopredict.com" />
    <add key="FromDisplayName" value="PreggoPredict" />
    <add key="CreatorEmailAddress" value="creator@preggopredict.com" />
  </appSettings>
	<connectionStrings>
		<add name="Kleine" connectionString="Data Source=localhost;Initial Catalog=Kleine;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>	
  <!-- Required for MONO -->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="StateServer" />
    <customErrors mode="Off" />
    <httpHandlers>
      <add path="api*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>

  <!-- Required for IIS7 -->
  <system.webServer>
    <!-- ServiceStack: Required -->
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="api*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
    <rewrite>
      <rules>
        <clear />
        <rule name="Service Stack" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="api/*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="None" />
        </rule>
        <rule name="Allow Content" stopProcessing="true">
          <match url="(css/.*|fonts/.*|img/.*|js/.*|partials/.*|scripts/.*|index.html|apple-touch-icon-precomposed.png|apple-touch-icon.png|favicon.png)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="None" />
        </rule>
        <rule name="Angular Rewrite">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
