<div class="banner">
    <div class="image">
        <img src="/img/kim-and-joey-blessed.jpg" />
    </div>
    <div class="subtitle">
        <div class="row">
            <div class="twelve column"><h1>Make Your Prediction</h1></div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="row">
        <ul class="list four column">
            <li class="list-item header">Prediction: Baby P</li>
            <li class="list-item" ng-class="{ active: $state.includes('predict.gender') }"><a ui-sref="predict.gender"><i class="fa fa-user"></i> Gender <span class="result">{{ prediction.Gender }}</span></a> </li>
            <li class="list-item" ng-class="{ active: $state.includes('predict.date') }"><a ui-sref="predict.date"><i class="fa fa-calendar"></i> Date <span class="result">{{ prediction.Date|date }}</span></a></li>
            <li class="list-item" ng-class="{ active: $state.includes('predict.time') }"><a ui-sref="predict.time"><i class="fa fa-clock-o"></i> Time <span class="result">{{ (prediction.Time.length > 0 ? (prediction.Time[0]|hours) + ' - ' + (prediction.Time[1]|hours) : '') }}</span></a></li>
            <li class="list-item" ng-class="{ active: $state.includes('predict.weight') }"><a ui-sref="predict.weight"><i class="fa fa-anchor"></i> Weight <span class="result">{{ (prediction.Weight.length > 0 ? prediction.Weight[0] + ' lbs - ' + prediction.Weight[1] + ' lbs' : '') }}</span></a></li>
            <li class="list-item" ng-class="{ active: $state.includes('predict.length') }"><a ui-sref="predict.length"><i class="fa fa-sort-amount-asc"></i> Length <span class="result">{{ (prediction.Length.length > 0 ? prediction.Length[0] + ' in - ' + prediction.Length[1] + ' in' : '') }}</span></a></li>
            <li class="list-item" ng-class="{ active: $state.includes('predict.finish') }"><a ui-sref="predict.finish"><i class="fa fa-check-square"></i> Submit Guess</a></li>
            <!--<li><a ui-sref="predict.hair">Hair Color</a></li>
            <li><a ui-sref="predict.name">Name</a></li>-->
        </ul>

        <div class="eight column" ui-view="predict">

        </div>
    </div>
</div>