<div class="" id="Date">
    <h2>Choose the date you think {{ $state.client.BabyAlias }} will be born on. (Expecting on {{ $state.client.dueDateShortString }})</h2>
    <div>
        <calendar target="prediction.Date" click="next()"></calendar>
        <div class="hint">
            <p>
                <strong>Interesting Fact:</strong>

                {{ $state.client.DateFact }}
                
            </p>
        </div>
        <p>
            <a ui-sref="predict.gender" class="button light">Back</a>
            <a ui-sref="predict.time" class="button">Next</a>
        </p>
    </div>
</div>
