<div class="" id="Time">
    <h2>Choose the time range (4 hours) of the day do you think {{ $state.client.babyAlias }} will be born during:</h2>
    <div>
        <slider name="time" target="prediction.Time" label="" min="0" max="24" range="4"></slider>

        <div class="hint">
            <p>
                <strong>Interesting Fact:</strong>
                {{ $state.client.facts.timefact }}
            </p>
        </div>

        <p>
            <a ui-sref="predict.date" class="button light">Back</a>
            <a ui-sref="predict.weight" class="button">Next</a>
        </p>
    </div>
</div>