<div class="" id="Date">
    <h2>Choose the date you think Baby Peters will be born on. (Expecting on December 16th)</h2>
    <div>
        <calendar target="prediction.Date" click="next()"></calendar>
        <div class="hint">
            <p>
                <strong>Interesting Fact:</strong>
                Dr. Lowder, Baby Peters's doctor, said that first time mothers on average deliver four days after their expected due date.
            </p>
        </div>
        <p>
            <a ui-sref="predict.gender" class="button light">Back</a>
            <a ui-sref="predict.time" class="button">Next</a>
        </p>
    </div>
</div>
