<div class="" id="Weight">
    <h2>Weight</h2>
    <div>
        <p>What weight range do you think Baby P. will be born in?</p>
        <p>
            <slider name="weight" target="prediction.Weight" label="lbs" min="1" max="13" range="1.5"></slider>
            <!--<div slider name="length" label="lbs" min="1" max="13" range="1.5" filter="ounces"></div>-->
        </p>
        <p>
            <a ui-sref="predict.time" class="button light">Back</a>
            <a ui-sref="predict.length" class="button">Next</a>
        </p>
    </div>
</div>
