@media only screen and (min-width: 600px) {
  
}
@media only screen and (min-width: 768px) {
  .navbar four.column {
    width: 21%;
  }
  .navbar eight.column {
    width: 78%;
  }
  #main-nav li a {
    padding: 0 7px;
  }
  #main-nav li a fa {
    display: none;
  }
}
@media only screen and (min-width: 966px) {
  #main-nav li a {
    padding: 0 10px;
  }
  #main-nav li a span {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1150px) {
  
}
