.button, button {
    padding: 0 18px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    background-color: @color-action;
    text-decoration: none;
    color: @text-inverted;
    border: 1px solid @color-action;
}
.button:hover, button:hover {
    padding: 0 18px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    background-color: @color-action-light;
    background-color: @color-action-light;
    text-decoration: none;
    color: @text-inverted;
}