html {
    font-size: 62.5%;
}

body {
    .font-size(16px);
    color: @text-body;
}

h1 {
    .font-size(24px);
    margin: 0;
}

h2 {
    .font-size(18px);
    margin-top: 0;
}

h3 {
    .font-size(16px);
    margin-top: 0;
}

h4 {
    .font-size(14px);
    margin-top: 0;
    color: lighten(@text-body, 20%);
}

p, li, a, button, input, table, th, td {
    .font-size(16px);
}

p { margin-top: 0; }

a {
    color: @text-link-default;
}

    a:hover {
        color: @text-link-default-hover;
    }

ul {
    padding: 0;
    margin: 0;
}

.wrapper {
    ul {
        margin-left: 1.5em;
    }
}

hr {
    border: 0;
    border-top: 2px solid @borderColor;
}

table {
    width: 100%;

    tr {
        th {
            padding: 6px;
            text-align: left;
            .font-size(14px);
        }

        td {
            border-top: 1px solid @borderColor;
            padding: 6px;
        }
    }
}


.success {
    border: 1px solid #ddd;
    border: 1px solid @color-calm;
    border-radius: 8px;
    padding: 0 12px;
    background-color: #dddddd;
    .font-size(12px);
    margin: 1em 0;
    color: #539032;
    background-color: #d7eebf;
    border-color: #d3e8b2;
    p { margin-top: 1em; }

}


.hint {
    border: 1px solid #ddd;
    border: 1px solid @color-calm;
    border-radius: 8px;
    padding: 0 12px;
    background-color: #dddddd;
    /*background-color: @color-calm;*/
    color: @text-link-default;
    color: #000;
    .font-size(12px);
    margin: 1em 0;
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;

    p { margin-top: 1em; }

    dd, dt {
        display: inline;
        margin: 0;
    }

    dt {
        font-weight: bold;
    }

    span.toggle {
        cursor: pointer;
        color: @text-link-default !important;
        text-decoration: underline;

        &:hover {
            color: @text-link-default-hover !important;
            text-decoration: none;
        }
    }

    .details {
        //display: none;
    }

    th, td {
        color: lighten(@text-body, 10%);
        .font-size(12px);
    }

    a, p {
        .font-size(12px);
    }
}

.banner {
    position: relative;
    overflow: hidden;
    height: 275px;
    margin-bottom: 10px;
    .image {
        width: 100%;
        margin-bottom: 10px;
	text-align: center;
	height: 275px;
	//Background gradient to make up for uber wide screens, generated - http://www.colorzilla.com/gradient-editor/
	background: #506b22; /* Old browsers */
	background: -moz-linear-gradient(left,  #506b22 0%, #a1cd41 50%, #506b22 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#506b22), color-stop(50%,#a1cd41), color-stop(100%,#506b22)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #506b22 0%,#a1cd41 50%,#506b22 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #506b22 0%,#a1cd41 50%,#506b22 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #506b22 0%,#a1cd41 50%,#506b22 100%); /* IE10+ */
	background: linear-gradient(to right,  #506b22 0%,#a1cd41 50%,#506b22 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#506b22', endColorstr='#506b22',GradientType=1 ); /* IE6-9 */

	img {
            margin-top: -25px;
            width: auto;
            height: auto;
        }
    }
}

.subtitle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    h1 {
        line-height: 50px;
        margin: 0;
	padding-left: 2%;
    }
}

.view-enter, .view-leave {
    position: absolute;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.view-enter {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    -moz-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
}

.view-enter-active {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.view-leave {
    opacity: 1;
    /*padding-left: 0px;*/
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.view-leave-active {
    opacity: 0;
    /*padding-left: 100px;*/
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}
