@maxWidth: 1140;
@gutterPx: 20px;
@numOfCols: 12;

@gutter: percentage(@gutterPx / @maxWidth); // 2.1276596

@oneColumn: (100 - (@gutter * (@numOfCols - 1) ) ) / @numOfCols;

.calculateColumn(@number) {
    width: (@oneColumn * @number) + (@gutter * (@number - 1)); // (One column * 'x') + (gutter * ('x' - 1)) = Column Width
}

.column {
    width: 100%;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .twelve {
    width: 100%;
    /*display: block;*/
}

.wrapper {
    padding: 10px 0;
}

.row {
    margin: 0 auto;
    min-width: 0;
    padding-left: 3%;
    padding-right: 3%;
}

    .row:before, .row:after {
        content: "";
        display: table;
    }

    .row:after {
        clear: both;
    }

@media only screen and (min-width: 600px) {

    .column {
        margin-left: @gutter;
        margin-bottom: @gutterPx/2;
        float: left;
        min-height: 1px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .one {
        .calculateColumn(1);
    }

    .two {
        .calculateColumn(2);
    }

    .three {
        .calculateColumn(3);
    }

    .four {
        .calculateColumn(4);
    }

    .five {
        .calculateColumn(5);
    }

    .six {
        .calculateColumn(6);
    }

    .seven {
        .calculateColumn(7);
    }

    .eight {
        .calculateColumn(8);
    }

    .nine {
        .calculateColumn(9);
    }

    .ten {
        .calculateColumn(10);
    }

    .eleven {
        .calculateColumn(11);
    }

    .twelve {
        width: 100%;
    }

    .row {
        width: 590px;
        margin: 0 auto;
        min-width: 0;
        padding-left: 0;
        padding-right: 0;

        .column:first-child {
            margin-left: 0;
        }
    }
}

@media only screen and (min-width: 768px) {
    .row {
        width: 728px;
    }
}

@media only screen and (min-width: 966px) {
    .row {
        width: 926px;
    }
}

@media only screen and (min-width: 1150px) {
    .row {
        width: unit(@maxWidth, px);
    }
}


.wrapper {
}
