@nav-height: 50px;

nav.navbar {
    min-height: @nav-height;
    position: relative;

    h1 {
        line-height: @nav-height;
        margin: 0;
    }

    a {
        color: @text-nav;
        text-decoration: none;
        height: @nav-height;
        font-weight: bold;
        display: block;
        text-shadow: 1px 1px 1px rgba(75, 75, 75, 1);
        .font-size(18px);
    }

        a:hover {
            color: @text-nav-hover;
            text-decoration: none;
        }

    background-color: @background-navbar;
    background-image: url(/img/header.png);
    background-repeat: repeat-x;

    button.toggle {
        color: @text-nav;
        position: relative;
        float: right;
        margin-right: 15px;
        padding: 6px 8px;
        margin-top: 3px;
        margin-bottom: 3px;
        background-color: transparent;
        border: 1px solid @borderColor;
        border-radius: 4px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.075);
        }

        i.fa {
            font-size: 1.3333333333333333em;
        }
    }

    .row {
        /*position: relative;*/
    }
}

nav.horizontal {
    margin: .25em;
    height: 175px;

    ul {

        li {
            list-style: none;

            a {
                height: auto;
                padding: 12px 12px;
                .font-size(16px);
                margin-bottom: 1px;

                &:hover {
                    background-color: rgba(112, 164, 42, 0.9);
                }
            }
        }
    }
}

.animate-show-hide {
}

    .animate-show-hide.ng-hide-add, .animate-show-hide.ng-hide-remove {
        -webkit-transition: all linear 0.25s;
        -moz-transition: all linear 0.25s;
        -o-transition: all linear 0.25s;
        transition: all linear 0.25s;
        display: block !important;
    }

        .animate-show-hide.ng-hide-add.ng-hide-add-active,
        .animate-show-hide.ng-hide-remove {
            height: 0;
            display: none;
        }

            .animate-show-hide.ng-hide-add,
            .animate-show-hide.ng-hide-remove.ng-hide-remove-active {
                height: 175px;
            }

@media only screen and (min-width: 768px) {

    .animate-show-hide.ng-hide-add.ng-hide-add-active,
    .animate-show-hide.ng-hide-remove {
        display: block;
    }

    nav.navbar {

        h1 {
            float: left;
        }
    }

    .row {
        width: 728px;
    }

    button.toggle {
        display: none;
        visibility: hidden;
    }

    nav.horizontal {
        position: relative;
        top: 0;
        right: 0;
        z-index: 5;
        height: auto;

        &.ng-hide {
            display: block !important;
        }

        ul {
            padding: 0;
            margin: 0;
            float: right;

            li {
                display: block;
                float: left;
                padding: 0;
                margin: 0;
                list-style: none;
                line-height: @nav-height;

                a {
                    padding: 0 20px;
                    background-color: transparent;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.075);
                    }
                }
            }
        }

            ul:before, ul:after {
                content: "";
                display: table;
            }

            ul:after {
                clear: both;
            }

        a:hover {
            background-color: rgba(0, 0, 0, 0.075);
        }

        margin: 0;
    }
}

@media only screen and (min-width: 966px) {
    .row {
        width: 926px;
    }
}

@media only screen and (min-width: 1150px) {
    .row {
        width: unit(@maxWidth, px);
    }
}

nav.horizontal.right {
    ul {
        li {
            float: right;
        }
    }
}
