@nav-height: 50px;

nav.navbar {
    height: @nav-height;
    position: relative;

    h1 {
        line-height: @nav-height;
        margin: 0;
        float: left;
    }

    a {
        color: @text-nav;
        text-decoration: none;
        height: @nav-height;
        font-weight: bold;
        display: block;
        text-shadow: 1px 1px 1px rgba(75, 75, 75, 1);
        /*.font-size(16px);*/
    }

        a:hover {
            color: @text-nav-hover;
            text-decoration: none;
        }

    background-color: @background-navbar;
    background-image: url(/img/header.png);
}

nav.horizontal {
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 5;
        ul {
            li {
                list-style:none;
                
                a {
                    padding: 0 5px;
                    height: auto;
                    padding: 6px 4px;
                }
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .row {
            width: 728px;
        }

        nav.horizontal {
            ul {
                padding: 0;
                margin: 0;
                float: right;

                li {
                    display: block;
                    float: left;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    line-height: @nav-height;

                    a {
                        padding: 0 20px;
                    }
                }
            }

                ul:before, ul:after {
                    content: "";
                    display: table;
                }

                ul:after {
                    clear: both;
                }

            a:hover {
                background-color: rgba(0, 0, 0, 0.075);
            }

            margin: 0;
        }
    }

    @media only screen and (min-width: 966px) {
        .row {
            width: 926px;
        }
    }

    @media only screen and (min-width: 1150px) {
        .row {
            width: unit(@maxWidth, px);
        }
    }

nav.horizontal.right {
    ul {
        li {
            float: right;
        }
    }
}
