@color-action: #3085d6;
/*@color-action: #a4c05b;*/
/*@color-action: #a2ce44;*/

@color-action-light: lighten(@color-action, 10%);

@color-action-theme: #a2ce44;
@color-action-theme-light: lighten(@color-action-theme, 10%);

@color-inaction: #dddddd;
@color-inaction-light: lighten(@color-inaction, 10%);


// main colors

// background colors
@background-default:  #ffffff;
@background-light:  #E9E9E9;

@background-navbar: #333333;
@background-navbar-hover: #222222;

@text-nav: #ffffff;
@text-nav-hover: #eeeeee;

// text colors
@text-body: #444444;
@text-body-lighter: #888888;

@text-inverted: #ffffff;

@text-link-default: @color-action;
@text-link-default-hover: @color-action-light;

// button colors

// border colors
@borderColor: #dddddd;

@color-positive: #4a87ee;
@color-calm: #43cee6;
/*@color-calm: #83d6e5;*/
@color-balanced: #66cc33;
@color-energized: #f0b840;
@color-assertive: #ef4e3a;
@color-royal: #8a6de9;
@color-dark: #444444;