@color-action: #3085d6;
@color-action-light: lighten(@color-action, 10%);


// main colors

// background colors
@background-default:  #ffffff;
@background-light:  #E9E9E9;

@background-navbar: #4a4d50;

// text colors
@text-body: #444444;
@text-body-lighter: #888888;

@text-inverted: #ffffff;

@text-link-default: @color-action;
@text-link-default-hover: @color-action-light;

// button colors

