
            <div class="id=" length">
                <h2>Length</h2>
                <div>
                    <label for="lengthSlider">What length range do you think Baby P. will be born in?</label>
                    <p>
                        <!--<div slider name="length" label="in" min="15" max="41" range="4"></div>-->
                        <slider name="length" target="lengthValue" label="in" min="15" max="41" range="4"></slider>
                    </p>
                    <p>
                        <a ui-sref="guess.weight" class="button light">Back</a>
                        <a ui-sref="guess.finish" class="button">Finished</a>
                    </p>
                </div>
            </div>